:root {
	--color-background: #040119;
	--color-primary: #66d1d8;
	--color-secondary: hsl(334, 89%, 55%);
	--color-primary-offset: hsl(184, 59%, 32%);
	--color-secondary-offset: hsl(320, 59%, 40%);
	--color-form-border: theme("colors.gray.100");
  --color-text: theme("colors.neutral.100");
	--color-text-offset: theme("colors.neutral.400");
	--color-background-offset: rgba(0,0,0,.3);
	--color-border: rgb(245, 245, 245, .3);
}
body {
  @apply h-full w-screen overflow-x-hidden bg-default text-default text-base;
}
body *::selection {
  @apply bg-secondary;
}
.btn, .btn-offset {
  @apply flex items-center justify-center rounded-full border;
  @apply text-default text-center font-medium no-underline;
  @apply transition-all duration-200 ease-in-out hover:scale-105;
  @apply w-60 mx-auto py-4 px-10;
  max-width: 90vw;
}
.btn {
  @apply bg-secondary-offset border-secondary-offset;
}
.btn-offset {
  @apply bg-white bg-opacity-30 border-default;
}

section {
  padding: calc(8vh + 4rem) 1.25rem 8vh 1.25rem;
  @apply h-full max-w-6xl mx-auto items-center flex flex-col gap-8;
}

a {
  @apply text-primary hover:underline transition-all ease-in-out font-bold;
}
h2 {
  @apply text-7xl font-bold uppercase text-center;
}
h3 {
  @apply font-semibold text-3xl my-10 text-center;
}
.subtitle {
  @apply font-semibold uppercase text-secondary mb-2 text-center;
}
.active:not(#logo>[onclick="switchSlide(0)"]) {
  color: var(--color-primary) !important;
}
.fixed-header {
  @apply fixed top-0 left-0 w-full border-b border-default;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}
swiper-container {
  @apply pb-12;
}
input, textarea {
  @apply w-full bg-offset border border-default rounded p-2;
}
div {
  @apply flex gap-4 items-center;
}