---
import Section from '~/components/section.astro'
const id = "contact"
const heading = "Contact"
const subtitle = "Feel free to contact me for collaborations, inquiries, or questions"
const summary = "Whether you are looking for a web development partnership, have a project idea, or have a need for a full-stack developer, feel free to contact me. I'm passionate about creating exceptional digital experiences and open to new opportunities. Let's connect and discuss how we can work together to bring your visions to life. Don't hesitate to reach out and start a conversation today."
---
<Section {id} {heading} {subtitle} {summary}>
  <form
    name="contact"
    method="POST"
    data-netlify="true"
    class="flex flex-col gap-4 w-full max-w-3xl mx-auto"
  >
    <input type="text" name="name" placeholder="Name"/>
    <input type="email" name="email" placeholder="Email" />
    <textarea name="message" placeholder="Message" rows="5"></textarea>
    <button class="btn mt-4" type="submit">Send</button>
  </form>
</Section>