---
let currentYear = new Date().getFullYear();
import { Icon } from "astro-icon";
import * as info from '~/data/general.md'
let { navigation, social } = info.frontmatter
---
<style>
footer {
  color: var(--color-text-offset);
  font-size: clamp(1rem, calc(1rem + ((1.0416666666666667 - 1) * ((100vw - 20rem) / (96 - 20)))), 1.0416666666666667rem);
  line-height: 1.6;
  text-align: center;
  padding: 2rem;
}
footer a {
  font-weight: normal;
}
[astro-icon] {
	height: 1.5rem;
	color: var(--color-text-offset);
	transition: all .3s ease-in-out;
}
[astro-icon]:hover {
	color: var(--color-primary);
	scale: 1.25;
}
ul {
	display: flex;
	justify-content: center;
	margin-top: .25rem;
	gap: .5rem;
}
</style>
<footer>
	<p>Copyright ©
		<a href="https://linkedin.com/in/liz-trejo" target="_blank">Liz Trejo</a> {currentYear}
	</p>
	<ul id="socials">
		{
			social.map((item) => (
				<li>
					<a href={item.url} aria-label={item.title} target="_blank">
						<Icon name={item.icon}/>
					</a>
				</li>
			))
		}
	</ul>
</footer>