---
import { Icon } from "astro-icon";
import * as info from '~/data/general.md'
const { social } = info.frontmatter
let currentYear = new Date().getFullYear();
---
<style>
[astro-icon] {
  @apply h-6 transition-all duration-300 ease-in-out text-offset;
  @apply hover:scale-125 hover:text-primary;
}
</style>
<footer class="text-offset text-sm text-center p-8">
	<p>Copyright © Liz Trejo {currentYear}
	</p>
	<ul id="socials" class="flex justify-center mt-1 gap-2">
		{
			social.map((item) => (
				<li>
					<a href={item.url} aria-label={item.title} target="_blank">
						<Icon name={item.icon}/>
					</a>
				</li>
			))
		}
	</ul>
</footer>