---
import { Icon } from "astro-icon";
---

<button id="theme-switcher" class="transition-all origin-[right_center] duration-500 hover:text-primary">
  <div id="icon-theme-light" style="display: var(--icon-theme-light)">
    <Icon name="light" class="h-12" />
    <span class="sr-only">Use light theme</span>
  </div>
  <div id="icon-theme-dark" style="display: var(--icon-theme-dark)">
    <Icon name="dark" class="h-12" />
    <span class="sr-only">Use dark theme</span>
  </div>
</button>

<script>
  const button = document.querySelector("#theme-switcher");

  const getThemeCurrent = () => document.documentElement.dataset.theme;
  const getThemeNext = () => (getThemeCurrent() === 'dark') ? 'light' : 'dark';

  button.addEventListener("click", () => {
    const themeNext = getThemeNext();
    document.documentElement.dataset.theme = themeNext;
    localStorage.setItem("theme", themeNext);
  });
</script>

<style>
  :global(.fixed-header) #theme-switcher {
    @apply scale-100 ml-0;
  }
</style>
